@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

:root {
  --primary: #000000;
  --background: #ffffff;
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--background);
  color: #000000;
}
